<!DOCTYPE html>
<html>
<head>
    <title>MyChat</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
     <link rel="stylesheet" href="./css/chat.css">
    

 </head>
<body>

    <div id="frame">
        <div id="sidepanel" style="border-right: 0.5px solid #99999B;" v-show="showContact == 2">
            <div id="profile">
                <div class="wrap">
                    <p>New Chat</p>
                    <button type="button" class="close" @click="showContact = 0;"> 
                        <i class="fa fa-times"  style="color: white !important;"></i>
                    </button>
                </div>
            </div> 
            <div id="contacts" v-show="showContact == 2"> 
                <ul>
                    <li :key="index" class="contact" v-for="(item,index) in employees" @click="onClickedEmployee(item)">
                        
                        <div class="wrap" >
                            <img src="./images/user.png"  />
                            <div class="meta">
                                <p class="name">{{item.name}}</p>
                               <p class="preview">Software Engineer</p>
                            </div>
                        </div> 
                    </li> 
                </ul>
            </div>
            <!-- <div id="group-bar" style="margin:0 auto;padding: 0 auto;">
                <button  id="addcontact" @click="onClickedCreateGroup" ><i class="fa fa-user-plus fa-fw" aria-hidden="true" ></i> <span>Create Group</span></button>
                <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>View Employees</span></button> 
            </div>-->
        </div>
        <!--END NEW CHAT-->
        <div id="sidepanel" style="border-right: 0.5px solid #99999B;" v-show="showContact== 1">
            <div id="profile">
                <div class="wrap">
                    <p>Add Group participants</p>
                    <button type="button" class="close" @click="showContact = 0;"> 
                        <i class="fa fa-times"  style="color: white !important;"></i>
                    </button>
                </div>
            </div>
            <div id="group-name">
                <input type="text" placeholder="Group Name" style="margin-bottom:5px;" v-model="group.name"/>
               <!-- <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                <input type="text" placeholder="Search contacts..." />-->
            </div>
            <div id="contacts" v-show="showContact == 1"> 
                <ul>
                    <li :key="index" class="contact" v-for="(item,index) in employees">
                        <input type="checkbox" v-model="item.selected">
                        <div class="wrap" >
                            <img src="./images/user.png"  />
                            <div class="meta">
                                <p class="name">{{item.name}}</p>
                               <p class="preview">Software Engineer</p>
                            </div>
                        </div> 
                    </li> 
                </ul>
            </div>
            <div id="group-bar" style="margin:0 auto;padding: 0 auto;">
                <button  id="addcontact" @click="onClickedCreateGroup" ><i class="fa fa-user-plus fa-fw" aria-hidden="true" ></i> <span>Create Group</span></button>
                <!-- <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>View Employees</span></button> -->
            </div>
        </div>
        <!--END GROUP NEW CHAT-->
        <div id="sidepanel" style="border-right: 0.5px solid #99999B;" v-show="showContact == 0">
          
            <div id="profile">
                <div class="wrap">
                    <img id="profile-img" src="./images/user.png" class="online" alt="" />
                    <p style="color:white;font-weight: bold;">{{current_user.name}}</p>
                    <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                    <div id="status-options">
                        <ul>
                            <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
                            <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
                            <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
                            <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
                        </ul>
                    </div>
                    <div id="expanded">
                        <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
                        <input name="twitter" type="text" value="mikeross" />
                        <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
                        <input name="twitter" type="text" value="ross81" />
                        <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
                        <input name="twitter" type="text" value="mike.ross" />
                    </div>
                </div>
            </div>
            <div id="search">
                <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                <input type="text" placeholder="Search contacts..." />
            </div>
            <div id="contacts">
                <ul>
                    <li :key="index" class="contact" v-for="(item,index) in chats" @click="onClickedChat(item)">
                        <div class="wrap" v-if="!item.is_group">
                            <img src="./images/user.png" alt="" />
                            <div class="meta">
                                <p class="name"> {{item.employees?item.employees[0].name:null}}</p>
                               <p class="preview">{{item.last_message}}</p>
                            </div>
                        </div>
                        <div class="wrap" v-if="item.is_group">
                            <img src="./images/group.png" alt="" />
                            <div class="meta">
                                <p class="name">{{item.name}}</p>
                                <p class="preview" v-if="item.last_message"><span>{{item.last_sender?item.last_sender.name:null}} : </span></span>{{item.last_message}}</p>
                                <p class="preview" v-if="!item.last_message">Created New Group</p>

                            </div>
                       </div>
                    </li> 
                </ul>
            </div>
            <div id="bottom-bar">
                <button id="settings" @click="showContact = 2"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>New Chat</span></button>

                <button id="addcontact" @click="onClickedGroupSidebar"><i class="fa fa-users fa-fw" aria-hidden="true" ></i> <span>New Group</span></button>
            </div>
        </div>
        <div class="content" v-if="selected_chat_id || isNew">
            <div class="contact-profile">
                <img src="./images/user.png" alt="" />
                <p style="color: white;font-weight: bold;">{{selected_chat_name}}</p>
                
                <div class="social-media">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                     <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
            </div>
            <div class="messages" id="scroll-to-bottom">
                <ul>
                    <li  :class="message.sender_id == this.current_user._id ? 'replies' : 'sent'" v-for="message in conversations">
                        <p>
                            {{message.message}}<br>
                            <span style="font-size:10px;float: right;;">{{formatDate(message.createdAt)}}</span> 
                        </p> 
                    </li>
                </ul>
            </div>
            <div class="message-input">
                <div class="wrap" style="margin-bottom: 5px;;">
                    <i class="fa fa-paperclip attachment" aria-hidden="true"></i>

                    <input v-on:keyup.enter="onClickedSend" v-model="message" type="text" placeholder="Write your message..." style="background-color: #2A3A42 ;color:white"/>
                    <button class="submit" @click="onClickedScoll"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="content" v-if="!selected_chat_id && !isNew" style="background-image:url('./images/Screenshot.png');background-repeat: no-repeat;background-attachment: fixed;background-size: 600px;background-position: center;">
           
  
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <script src="./js/socket.io.js"></script>
    
    <script>
        const { createApp } = Vue
      
        createApp({
            data() {
                return {
                    socket :  io(),
                    isNew : false,
                    group :{
                        name : null,
                        employees : []
                    },
                    
                    showContact: 0,
                   


                    
                    //   ('http://localhost:3000',{
                    //       secure: true,
                    //       rejectUnauthorized: false,
                    //       rememberUpgrade:true 


                    //   })
                    message : null,
                    conversations : [],
                    chats : [],
                    employees:[], 
                    selected_chat_id : null,
                    current_user : {
                        _id : null,
                        name : null
                    },
                    receiver_id : null,
                    selected_chat_name : null
                }
            },
            methods : {
                formatDate(_date){
                    return moment(_date).format('hh:mm A')
                },
                onSocket(chat_id){
                    let that  = this;
                    this.socket.on(`chat-id-${chat_id}`, (message) => { 
                        if(that.current_user._id != message.sender_id){
                            this.conversations.push(message);
                            setTimeout(function(){
                                that.onClickedScoll()
                            },100)
                        }
                    });
                },
                onClickedGroupSidebar(){
                    this.showContact = 1;
                },
                onClickedScoll(){
                    let scroll_to_bottom = document.getElementById('scroll-to-bottom');
                    scroll_to_bottom.scrollTop = scroll_to_bottom.scrollHeight;
                },
                onClickedEmployee(employee){
                    this.isNew = true;
                    this.selected_chat_name = employee.name;
                    this.receiver_id = employee._id;
                    this.selected_chat_id = null;
                    this.conversations = [];
                    this.showContact = 0;
                    
                },
                onClickedCreateGroup(){
                    let empIds = [];
                    this.employees.forEach(e => {
                        if(e.selected == true){
                            empIds.push(e._id);
                        }
                    })
                  
                    axios.post(`/api/create-group`, {
                        name : this.group.name,
                        employees : empIds
                    }, { headers : this.getHeaders()}).then(({data}) => { 
                        this.chats.unshift(data.chats[0])
                        this.isNew = 0;
                        this.group.name = null;
                        this.group.employees = [];
                        this.selected_chat_id = data.chats[0].id
                        this.onSocket(data.chats[0]._id)
                    }).catch(error => {

                    })
                },
                onClickedSend(){
                    let data = {  
                        receiver_id : this.receiver_id,
                        chat_id : this.selected_chat_id,
                        message : this.message
                    }

                    axios.post(`/api/store-conversation`, data, { headers : this.getHeaders()}).then(({data}) => {
                        this.conversations.push(data.message);
                        let _tmpChat = this.chats.find(e => e._id == data.chats[0]._id)
                        if(!_tmpChat){
                            this.selected_chat_id = data.chats[0]._id;
                            this.chats.unshift(data.chats[0])
                            this.onSocket(data.chats[0]._id)
                        }
                        let contactIndex = this.chats.findIndex(e => e._id == data.chats[0]._id)
                        this.chats[contactIndex].last_message = this.message;
                        this.message = '';
                        let that  = this;
                        setTimeout(function(){
                                that.onClickedScoll()
                        },100)
                    })
                },
                onClickedChat(chat){
                    this.selected_chat_name = chat.is_group? chat.name : chat.employees[0].name;
                    this.selected_chat_id = chat._id; 
                    axios.get(`/api/get-conversations`, {
                        params :{
                            chat_id:chat._id
                        }
                    }).then(({data}) => {
                        this.conversations = data.conversations; 
                        let that = this;
                       
                        this.onSocket(chat._id)
                        setTimeout(function(){
                            that.onClickedScoll()
                        },100)
                    }).catch(error => {
                        
                    })
                },
                getEmployees(){
                    axios.get(`/api/get-employees`, { headers : this.getHeaders()}).then(({data}) => {
                        let _emps = data.employees;
                        _emps.map(e => {
                            e.selected = false;
                        });
                        this.employees = _emps;

                    }).catch(error => {
                        if(error.response.status == 401){
                            // window.location.href = '/login'
                        }
                    })
                },
                loadData(){ 
                    axios.get(`/api/get-chats`, {  headers : this.getHeaders()}).then(({data}) => {
                        this.chats = data.chats;
                    }).catch(error => {
                       
                        if(error.response.status == 401){
                            console.log(error.response.status)
                            window.location.href = '/login'
                        }
                    })
                },
                whoAmI(){
                    axios.get(`/api/whoami`, {  headers : this.getHeaders()}).then(({data}) => {
                        this.current_user = data;
                    }).catch(error => {
                        if(error.response.status == 401){
                            window.location.href = '/login'
                        }
                    })
                },
                getHeaders(){
                    return {      
                        "x-access-token": localStorage.getItem('token'),      
                        "Content-Type": "application/json",      
                        "Accept": "application/json",    
                    }; 
                }
            },
            mounted(){
                // this.current_user = JSON.parse(localStorage.getItem('user'))
                this.whoAmI();
                this.getEmployees();
                this.loadData(); 
                   
            }
        }).mount('#frame')
      </script>
 </body>
</html>